.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.16);
  padding: 30px 0 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding: 0 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: #222;
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}