.dashboard {
    padding: 20px;
  }
  
  .dashboard-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  .dashboard-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .card {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .card-text {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sale-statistics-card {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .sale-statistics-card h5 {
    margin-bottom: 20px;
  }
  
  .sale-statistics-card p {
    margin-bottom: 10px;
  }
  


  

  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  

  @media (max-width: 768px) {
    .dashboard-content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
    .dashboard-header {
      text-align: center;
      margin-left: 50px;
    }
  }
  
  @media (max-width: 480px) {
    .dashboard-content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
    .dashboard-header {
      text-align: center;
      margin-left: 120px;
    }
  }
  