/* Add your CSS styles here */

.Acontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
}

.cnavbar {
  background-color: #075e54;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.cnavbar h2 {
  margin: 0;
  font-size: 18px;
}

.cleft-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ededed;
}

.cleft-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.cmessages-container {
  height: 400px;
  overflow-y: scroll;
  padding: 20px;
}

.cmessage {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.cmessage-content {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
}

.cown-message .message-content {
  background-color: #dcf8c6;
  align-self: flex-end; /* Align sender's message to the right */
}

.cother-message .message-content {
  background-color: #fff;
  align-self: flex-start; /* Align receiver's message to the left */
}

.cmessage-sender {
  font-weight: bold;
}

.cinput-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #f0f0f0;
}

.cinput-container input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}

.cinput-container button {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  background-color: #25d366;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.cinput-container button:hover {
  background-color: #128c7e;
}

/* Media Queries */
@media (min-width: 768px) {
  .Acontainer {
    flex-direction: row;
  }

  .cleft-container,
  .cright-container {
    flex: 1;
    padding: 20px;
  }

  .chat-container {
    max-width: none;
    height: 70vh;
  }
}
