.main-form{
    /* width: 80%;     */
    padding: 30px ;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    /* border: 2px solid red; */

}
.main-form > div:nth-child(1){
    width: 80%;
   
    margin: auto;
    /* border: 2px solid red; */
}
.main-form img{
    width: 100%;
}


.form{
    width: 80%;    
    margin-top:200px;
    margin: auto;
    padding: 60px;
    /* border: 2px solid red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@media (max-width: 1000px){
    .main-form{
        /* border: 2px solid red; */
        margin: auto;
        padding: 40px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows:repeat(1fr);
        
    
    }
    .main-form > div:nth-child(1){
        width: 80%;
        margin: auto;
        /* border: 2px solid red; */
    }
    .main-form img{
        width: 100%;
    }

}